<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)"
size = "medium"
color = "#fff"
type = "square-jelly-box"
[fullScreen] = "true">
<p style="color: white" > Loading... </p></ngx-spinner>

  <!--  <app-nav-bar></app-nav-bar>
  https://medium.com/@sahilangrio/building-a-common-navbar-component-in-angular-a-step-by-step-guide-96833dbb2bcb

 sridhar
  -->

  <app-section-header></app-section-header>

  <app-nav-bar></app-nav-bar>

  <!-- <app-store [title]="title"></app-store> -->
  <router-outlet></router-outlet>
